{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_slideshow/slideshow

    IDs required for JS:
    * all

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * slides
}}

<div class="slideshow-container generalbox center clearfix">
    <ul id="slide-list" data-cmid="{{slideshow}}">
        {{#slides}}
            <li class="slide-item no-swipe group" data-sortorder="{{sortorder}}" data-id="{{id}}">
                <div class="handle instant">{{sortorder}}</div>
                <div class="name">{{name}}</div>
                <div class="actions">
                    <a href="/mod/slideshow/ajax.php?action=delete&cm={{slideshow}}&id={{id}}" title="{{#str}}delete, slideshow{{/str}}">
                        {{#pix}} i/trash, core {{/pix}}
                    </a>
                    {{#hidden}}
                        <a href="/mod/slideshow/ajax.php?action=show&cm={{slideshow}}&id={{id}}" title="{{#str}}show, slideshow{{/str}}">
                            {{#pix}} i/hide, core {{/pix}}
                        </a>
                    {{/hidden}}
                    {{^hidden}}
                        <a href="/mod/slideshow/ajax.php?action=hide&cm={{slideshow}}&id={{id}}" title="{{#str}}hide, slideshow{{/str}}">
                            {{#pix}} i/show, core {{/pix}}
                        </a>
                    {{/hidden}}
                    <a href="/mod/slideshow/edit.php?cm={{slideshow}}&id={{id}}" title="{{#str}}edit, slideshow{{/str}}">
                        {{#pix}} t/edit, core {{/pix}}
                    </a>
                </div>
            </li>
        {{/slides}}
    </ul>
</div>
{{#js}}
require(['core/config', 'jquery'], function(Config, $) {
    var ul = document.querySelector('#slide-list[data-cmid="{{slideshow}}"]');

    ul.addEventListener('slip:beforereorder', function(e){
        if (/demo-no-reorder/.test(e.target.className)) {
            e.preventDefault();
        }
    }, false);

    ul.addEventListener('slip:beforeswipe', function(e){
        if (e.target.nodeName == 'INPUT' || /no-swipe/.test(e.target.className)) {
            e.preventDefault();
        }
    }, false);

    ul.addEventListener('slip:beforewait', function(e){
        if (e.target.className.indexOf('instant') > -1) e.preventDefault();
    }, false);

    ul.addEventListener('slip:reorder', function(e){
        e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);

        let slideid = e.target.dataset.id;
        let oldorder = e.detail.originalIndex + 1;
        let neworder = e.detail.spliceIndex + 1;

        // console.log("Reorder slide ID " + slideid + " from " + oldorder + " to " + neworder);

        if (neworder !== oldorder) {
            changeSortOrder(slideid, neworder, oldorder);
        }
        return false;
    }, false);

    new Slip(ul); 

    var items = document.querySelectorAll(".handle");

    for (var i=0; i < items.length; i++) {
        var item = items[i]
        item.addEventListener('mousedown', function(){
            this.style.cursor = "-webkit-grabbing";
            this.style.cursor = "-moz-grabbing";
        });
        item.addEventListener('mouseover', function(){
            this.style.cursor = "-webkit-grab";
            this.style.cursor = "-moz-grab";
        });
        item.addEventListener('mouseup', function(){
            this.style.cursor = "-webkit-grab";
            this.style.cursor = "-moz-grab";
        });
    }

    /**
    * Change sort order
    * @param {Number} Slide ID
    * @param {Number} New order
    * @param {Number} Old order
    */
    changeSortOrder = (slideid, neworder, oldorder) => {
        var ul = document.querySelector('#slide-list[data-cmid="{{slideshow}}"]');

        let URL = Config.wwwroot + '/mod/slideshow/ajax.php';
        let data = {
            slideid: slideid,
            action: 'reorder',
            neworder: neworder,
            oldorder: oldorder,
            sesskey: Config.sesskey
        };
        let settings = {
            type: 'GET',
            dataType: 'json',
            data: data,
            async: false
        };

        $.ajax(URL, settings)
        .done(function() {
            let sortorder = 1;
            let slides = ul.querySelectorAll('.slide-item');
            slides.forEach(function(slide) {
                slide.dataset.sortorder = sortorder;
                let handle = slide.querySelector('.handle');
                handle.textContent = sortorder;
                sortorder++;
            });
        });
    };
});
{{/js}}
